.container-scroller {
    overflow: hidden;
}
.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
}
.page-body-wrapper {
    min-height: calc(100vh - 97px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 97px;
}
.content-wrapper {    
    padding: 1.5rem 2.187rem 1.5rem 3.5rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.flex-grow {
    flex-grow: 1;
}
.auth.auth-img-bg {
    padding: 0;
}
@media (min-width: 768px) {
    .auth.auth-img-bg .auth-form-transparent {
        width: 55%;
        margin: auto;
    }
}
.auth .auth-form-transparent {
    background: transparent;
}
.auth .login-half-bg {
    background: url('../images/login-bg.png');    
    background-size: cover;
}
.form-group {
    margin-bottom: 1rem;
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
}
.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #39ADB5;
    --bs-btn-border-color: #0dcaf0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #038F9E;
    --bs-btn-hover-border-color: #038F9E;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #03AFC2;
    --bs-btn-active-border-color: #03AFC2;
}

input.input-validation-error {
    border-color: #e74c3c; /* Red border for invalid input */
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

input.valid {
    border-color: #28a745; /* Green border for valid input */
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}
.form-check-input {
    width: 1.25em;
    height: 1.25em;
}

.bg-wassana {
    background-color: #39adb5 !important;
    color: #fff;
}

.error-page h1, .error-page .h1 {
    font-size: 12rem;
}